

<section class="flex items-center justify-between p-4 mt-4">
  <a href="">
    <h1 class="lg:text-2xl">
      Ressource<span class="font-bold text-primary-600">Hub</span>
    </h1>
  </a>

  <div class="flex items-center lg:gap-4 gap-2">
    <button (click)="toggleCategories()" class="btn variant-neutral sz-md flex items-center gap-2">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75"
          />
        </svg>
      </span>
      <span>
        Filtre
      </span>
    </button>
    <a routerLink="../linkform" class="btn variant-primary sz-md">add ressource</a>
  </div>
</section>


<!-- filter Options  -->
<section class="card variant-mixed scale-0 origin-top absolute sz-md mt-4 shadow-lg flex flex-col lg:flex-row gap-5">
  <div class="lg:w-[25vw]">
    <h3 class="text-title text-xl font-semibold">Categories</h3>
    <p class="text-body mt-2 text-balance">
        Choose which categorie you want to display and start learning today
    </p>
  </div>

  <form action="">
    <ul class="grid lg:grid-cols-4 gap-2">
        <li>
            <div class="field">
                <div class="grid items-center gap-x-3 gap-y-1 [grid-template-columns:auto_1fr]">
                    <label for="c1" class="checkbox group">
                        <input checked class="peer" type="checkbox" id="c1" name="checkbox1"  />
                        <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;"><path d="M20 6 9 17l-5-5"></path></svg>
                    </label>
                    <label for="c1" class="block text-title select-none">See All</label>
                    
                </div>
            </div>
        </li>
        <li>
            <div class="field">
                <div class="grid items-center gap-x-3 gap-y-1 [grid-template-columns:auto_1fr]">
                    <label for="c2" class="checkbox group">
                        <input class="peer" type="checkbox" id="c2" name="checkbox2"  />
                        <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;"><path d="M20 6 9 17l-5-5"></path></svg>
                    </label>
                    <label for="c2" class="block text-title select-none">Frontend</label>
                    
                </div>
            </div>
        </li>
        <li>
            <div class="field">
                <div class="grid items-center gap-x-3 gap-y-1 [grid-template-columns:auto_1fr]">
                    <label for="c3" class="checkbox group">
                        <input class="peer" type="checkbox" id="c3" name="checkbox3"  />
                        <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;"><path d="M20 6 9 17l-5-5"></path></svg>
                    </label>
                    <label for="c3" class="block text-title select-none">Backend</label>
                    
                </div>
            </div>
        </li>
        <li>
            <div class="field">
                <div class="grid items-center gap-x-3 gap-y-1 [grid-template-columns:auto_1fr]">
                    <label for="c4" class="checkbox group">
                        <input class="peer" type="checkbox" id="c4" name="checkbox4"  />
                        <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;"><path d="M20 6 9 17l-5-5"></path></svg>
                    </label>
                    <label for="c4" class="block text-title select-none">Graphique design</label>
                    
                </div>
            </div>
        </li>
        <li>
            <div class="field">
                <div class="grid items-center gap-x-3 gap-y-1 [grid-template-columns:auto_1fr]">
                    <label for="c5" class="checkbox group">
                        <input class="peer" type="checkbox" id="c5" name="checkbox5"  />
                        <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;"><path d="M20 6 9 17l-5-5"></path></svg>
                    </label>
                    <label for="c5" class="block text-title select-none">Brand design</label>
                    
                </div>
            </div>
        </li>
        <li>
            <div class="field">
                <div class="grid items-center gap-x-3 gap-y-1 [grid-template-columns:auto_1fr]">
                    <label for="c6" class="checkbox group">
                        <input class="peer" type="checkbox" id="c6" name="checkbox6"  />
                        <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;"><path d="M20 6 9 17l-5-5"></path></svg>
                    </label>
                    <label for="c6" class="block text-title select-none">IA & ML</label>
                    
                </div>
            </div>
        </li>
        <li>
            <div class="field">
                <div class="grid items-center gap-x-3 gap-y-1 [grid-template-columns:auto_1fr]">
                    <label for="c7" class="checkbox group">
                        <input class="peer" type="checkbox" id="c7" name="checkbox7"  />
                        <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;"><path d="M20 6 9 17l-5-5"></path></svg>
                    </label>
                    <label for="c7" class="block text-title select-none">Utilities</label>
                    
                </div>
            </div>
        </li>
      </ul>
  </form>
  
</section>
