<section class="mt-5">
    <div>
        <h1>For frontend developers</h1>
    </div>
    <div class="grid lg:grid-cols-3 gap-5 mt-5">
        <div class="card variant-mixed p-0 h-[30vh] overflow-hidden">
            <video src="https://youtu.be/QRVZWIc3X0s" controls class="h-full w-full object-contain"></video>
        </div>
        <div class="card variant-mixed p-0 h-[30vh] overflow-hidden">
            <iframe class="h-full w-full object-contain" src="https://www.youtube.com/embed/QRVZWIc3X0s" title="Pourquoi j&#39;ai quitté Road to Condor ? - Elie Gali Vlog n°39" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="card variant-mixed sz-md h-[30vh]">
            <h1>g</h1>
        </div>
    </div>
</section>